@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {margin: 0; padding:0px;border: 0; -webkit-appearance: none;font-family: 'Nunito', sans-serif; text-decoration: none; font-weight: 0; box-sizing: border-box;}


.container{grid-template-rows: 150px 1fr 60px; 
    height: 100%;
    width: 100vw;

}
.navbar {
    grid-template-columns: 1fr 250px;
  
}
.header {
    grid-template-rows: 1fr 1fr;
    height: 100px;
}
.big-title {
    font-size: 45px;
}
.small-title {
    font-size: 30px;
}
.big-title {
    font-size: 45px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-weight: 300;
    font-size: 30px;
    
}
.langue { grid-template-columns: 40px 40px; 
    /* display: flex; */
    
}
.langue button {
    background-color: transparent;
}



.fr  {background-color: rgb(239, 79, 79); border-radius: 10px;}

.main-container { grid-template-columns: 1fr 1fr;
    padding-top: 100px;

}

#container-img {
    width: 500px;
}

.box {
    width: 400px;
    grid-template-rows: 1fr 150px;
    
}

.input-grid{
    grid-template-columns: 2fr 1fr;
   
}
.input-item {
    padding: 10px;
    border: solid 1px gray ;
    
}
.button-reset {background-color: rgb(239, 79, 79);
    border: none;}


.reset:active {
    background-color: rgb(186, 186, 186);
}


.total{
    background-color: rgb(239, 79, 79);
    height: 50px;
    width: 100%;
    
}

.total:active {
    background-color: rgb(186, 186, 186);

}


/* Transform:translate (x,y) */
.calculation-box {
    background: rgb(255, 255, 255);
    display: none;
    /* display: block; */
    position: absolute;
    top:50%;
    height: 500px;
    width: 500px;
    transform: translate(0, -50%);
    z-index: 500;
}



#total {
    background-color:rgb(239, 79, 79);
    

    /* width: 200px; */
}


#calculation-box-footer:active {
    background-color: rrgb(255, 255, 255);
    /* position: absolute; */   
}


.footer {

    background-color: rgb(242, 242, 242);
    width: 100vw;
    height: 100px;
    position: absolute;
    bottom: 0;

    
}



#overly{
    background-color: rgba(0, 0, 0, 0.514);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    width: 100vw;
    height: 100vh;
}

@media screen and (min-width : 0px) and (max-width : 850px) {
    .navbar{grid-template-columns: 300px 100px;}
    .big-title {font-size: 25px;}
    .small-title {font-size: 18px;}
    /* .container {grid-template-rows: 100px 100px;} */
    .container{width: 100vw; padding: 5px;}
    .main-container{grid-template: 1fr 1fr / 1fr ;
        display: grid; gap: 0; padding: 0 10px 0 0;}
    #container-img {width: 350px}
    .button{padding-left: 0; width: 100%;}
    .footer {left: 0; bottom: 0; width: 100vw; font-size: 12px; position: fixed; height: 50px;}
    /* .overly{height: ;} */
    .calculation-box {width: 350px; padding-left: 10px; position: absolute; top : 200px}
}


@media screen and (min-width : 850px) and (max-width : 1600px) {

    
        .main-container{padding: 0;
        }
        .footer {position: absolute;bottom: 0;
        height: 50px;
        
           
        }
        .container{grid-template-rows: 150px 50px;}

}
